
@{
    ViewData["Title"] = "Index2";
}

    <table id="ArbetTable" style="width: 600px;height:400px;"></table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-table.min.js"></script>
<script src="~/js/ArbetTable.js"></script>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-table.css" rel="stylesheet" />


